.modal .modal-content .modal-header {
	 background: #512da8;
	 color: #fffaf0;
}
 .modal .modal-content .modal-header .close {
	 color: #fffaf0;
}
 .modal .modal-content .modal-body {
	 background: #d1c4e9;
}
 