body{
	padding-top: 50px;
}
nav{
	background-color: #5629a7;
}
.jumbotron{
	background-color: #9575cd;
	padding: 100px 30px;
}
.row-header{
	color: white;
	font-size:110%;
}
.row-content{
	padding: 80px 30px;
	
}
.footer{
	background-color: #d1c4e9;
	padding: 70px;
}
a.footer-links{
	text-decoration-style: none;
	color: blue;
	text-decoration: none;
}
.navbar-brand{
	padding-left: 5px;
	padding-right: 16px;
	margin-right: 16px;
}
.permission{
	padding:0px 6px 6px 6px; 
}